* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Mulish;
    font-size: 62.5%;
}


body {
    background:  #121214;
    min-height: 100vh;    
}

.page {
    padding: 2rem 2rem;   
}

header {
  padding: 2.2rem 0;
  background: #202024;
  border-radius: 6px;
}


header > h1 {
    color: hsl(194, 97%, 31%);
    font-family: Mulish;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 800;
    
}

header > p {
    color: #e1e1e6;
    font-family: Mulish;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 400;
}


main {
    padding: 4rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 2rem;
    
}

.images {
    margin-top: 10.0rem;  
    align-items: center;
}

.card {
    width: 28rem;
    height: 52rem;


    background: #202024;
    border-radius: 2rem;
  
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    padding: 2rem;
    
    overflow: hidden;
}

.card > img {
  max-width: 25rem;
  max-height: 30rem;
  width: 100%;
  margin-inline: auto;

  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
    
}

.card:hover > img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    
}

.card > h2 {
    color: #c4c4cc;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 800;    
}

.card > p {
    color: #c4c4cc;
    font-size: 1.4rem;
    text-align: left;
    font-weight: 600;
    
    
}

footer {
    
    padding: 2.2rem 1.2rem;
    margin-top: 4.0rem;
    
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
    color: hsl(194, 97%, 31%);

    background: #202024;
    border-radius: 6px;
}

footer > a {
    color: hsl(194, 97%, 31%);
    font-weight: 600;
    font-size: 1.8rem;
}

/* MEDIA QUERIES */

@media (max-width: 425px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
       
    }
 }

 header > h1 {
    font-size: 2.6rem;
    
 }

 header > p {
   font-size: 1.8rem; 
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
     grid-template-columns: repeat(2, 1fr);
     padding: 4rem 8rem;
     align-items: center;
     
     gap: 2rem;
     
    }
}
  
@media (min-width: 1024px) and (max-width: 1440px) {
    main {
      grid-template-columns: repeat(3, 1fr);
      flex-direction: column;
      align-items: center;
      padding: 10rem 4rem;
      gap: 2rem;
      
    }
}
  
  @media (min-width: 2559px) {
    main {
      grid-template-columns: repeat(4, 1fr);
      padding: 10rem 40rem;
      gap: 4rem;

    }
}