* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Mulish;
    font-size: 62.5%;
}

body {
    background:  #121214;
    width: 33rem;; 
    min-height: 100vh;
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 6.0rem 2.3rem 6.6rem;  
    border: 1px solid red;
    
}

header h1 {
    color: hsl(194, 97%, 31%);
    font-family: Mulish;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
    
    
}

header p {
    color:#E1E1E6;
    font-family: Mulish;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;

    margin-top: 1.8rem;

    
    
}
.page {
    padding: 2rem 2rem;
    border: 1px solid whitesmoke;
}

main {
    margin: 2rem;
    display: grid;
          
    border: 2px solid blue; 
}

img {
    width: 100%;
    display: block;
}

.images {
    margin-top: 10.0rem;
    right: 0;   
}

.card {
    width: 25rem;
    height: 56rem;
    background: #202024;
    border-radius: 2.0rem;
    overflow: hidden;
    
}

.card img {
   -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    overflow: hidden;
}

.card:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.card h2 {
    color:#C4C4CC;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 800;
    padding: 1.0rem 1.0rem 0;
}

.card p {
    color:#C4C4CC;
    font-size: 1.4rem;
    text-align: left;
    text-justify: auto;
    font-weight: 600;
    padding: 1.0rem 1.0rem 0;
}


@media (max-width: 256rem) {
    main {
        grid-template-columns: repeat(2, 1fr);

        gap: 6rem 6rem;
    }    
}


@media (max-width: 144rem) {
    main {
        grid-template-columns: repeat(3, 1fr);

        gap: 4rem 4rem;
    }    
}

@media (max-width: 76.8rem) {
    main {
        grid-template-columns: repeat(2, 1fr);

        gap: 3rem;

    }
}

footer {
    margin-top: 6.0rem;
    text-align: center;
    padding: 2.2rem 1.1rem;
        
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
    color: hsl(194, 97%, 31%);

    
    
    background: #202024;
    border-radius: 6.0rem;
}

footer a {

 color: hsl(194, 97%, 31%);
 font-weight: 600;
 font-size: 1.8rem;
}